.container{
    margin: 0 0 ;
}
.navbar{
    color: white;
}
.container #main-container{
    margin-left: 0;
    margin-right: 0;
}
#main-weather-info{
    margin: 60px 0;

}
#seach-container{
    border: black;
}
li{
    list-style: none;
}
.hide-list{
    display: none;
    margin-top: 20px;

}
#forecast-id{
    display: none;
    padding: 30px;
}
